<div class="row">
    <div class="col-md-4">
        <section class="panel">
            <div class="panel-heading">
                Info
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down" panel-toggler></a>
                </span>
            </div>
            <div class="panel-body">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam commodi delectus dicta, doloribus illo inventore labore magnam maiores, maxime minus nesciunt quam quis voluptatem. Cumque fugit laudantium pariatur quae tempora?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam commodi delectus dicta, doloribus illo inventore labore magnam maiores, maxime minus nesciunt quam quis voluptatem. Cumque fugit laudantium pariatur quae tempora?
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam commodi delectus dicta, doloribus illo inventore labore magnam maiores, maxime minus nesciunt quam quis voluptatem. Cumque fugit laudantium pariatur quae tempora?
                </p>
            </div>
        </section>
    </div>
    <div class="col-md-4">
        <section class="panel">
            <div class="panel-heading">
                Info
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down" panel-toggler></a>
                </span>
            </div>
            <div class="panel-body">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam commodi delectus dicta, doloribus illo inventore labore magnam maiores, maxime minus nesciunt quam quis voluptatem. Cumque fugit laudantium pariatur quae tempora?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam commodi delectus dicta, doloribus illo inventore labore magnam maiores, maxime minus nesciunt quam quis voluptatem. Cumque fugit laudantium pariatur quae tempora?
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam commodi delectus dicta, doloribus illo inventore labore magnam maiores, maxime minus nesciunt quam quis voluptatem. Cumque fugit laudantium pariatur quae tempora?
                </p>
            </div>
        </section>
    </div>
</div>