<div class="row">
    <div class="col-md-3">
        <div class="profile-nav alt">
            <section class="panel text-center">
                <div class="user-heading alt wdgt-row red-bg">
                    <i class="fa fa-file"></i>
                </div>

                <div class="panel-body">
                    <div class="wdgt-value">
                        <h1 class="count">25</h1>
                        <p>Published Articles</p>
                    </div>
                </div>

            </section>
        </div>
    </div>
    <div class="col-md-3">
        <div class="profile-nav alt">
            <section class="panel text-center">
                <div class="user-heading alt wdgt-row red-bg">
                    <i class="fa fa-download"></i>
                </div>

                <div class="panel-body">
                    <div class="wdgt-value">
                        <h1 class="count">12</h1>
                        <p>Downloaded Articles</p>
                    </div>
                </div>

            </section>
        </div>
    </div>
    <div class="col-md-3">
        <div class="profile-nav alt">
            <section class="panel text-center">
                <div class="user-heading alt wdgt-row red-bg">
                    <i class="fa fa-user"></i>
                </div>

                <div class="panel-body">
                    <div class="wdgt-value">
                        <h1 class="count">25,000</h1>
                        <p>Visitors</p>
                    </div>
                </div>

            </section>
        </div>
    </div>
    <div class="col-md-3">
        <div class="profile-nav alt">
            <section class="panel text-center">
                <div class="user-heading alt wdgt-row red-bg">
                    <i class="fa fa-cog"></i>
                </div>

                <div class="panel-body">
                    <div class="wdgt-value">
                        <h1 class="count">130</h1>
                        <p>Important Data</p>
                    </div>
                </div>

            </section>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <section class="panel">
            <div class="panel-body">
                <div class="top-stats-panel">
                    <div class="daily-visit">
                        <h4 class="widget-h">Daily Visitors</h4>
                        <cjs-doughnut dataset="pieData" segement-stroke-width="5" autofit="true"></cjs-doughnut>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-md-4">
        <section class="panel">
            <div class="panel-body">
                <div class="top-stats-panel">
                    <div class="daily-visit">
                        <h4 class="widget-h">Daily Visitors</h4>
                        <cjs-polar dataset="polarData" segement-stroke-width="5" autofit="true"></cjs-polar>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-md-4">
        <section class="panel">
            <div class="panel-body">
                <div class="top-stats-panel">
                    <div class="daily-visit">
                        <h4 class="widget-h">Daily Visitors</h4>
                        <cjs-pie dataset="pieData" segement-stroke-width="5" autofit="true"></cjs-pie>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <section class="panel">
            <div class="panel-body">
                <div class="top-stats-panel">
                    <div class="daily-visit">
                        <h4 class="widget-h">Daily Visitors</h4>
                        <cjs-line dataset="lineData" segement-stroke-width="5" autofit="true"></cjs-line>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-md-4">
        <section class="panel">
            <div class="panel-body">
                <div class="top-stats-panel">
                    <div class="daily-visit">
                        <h4 class="widget-h">Daily Visitors</h4>
                        <cjs-radar dataset="lineData" segement-stroke-width="5" autofit="true"></cjs-radar>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-md-4">
        <section class="panel">
            <div class="panel-body">
                <div class="top-stats-panel">
                    <div class="daily-visit">
                        <h4 class="widget-h">Daily Visitors</h4>
                        <cjs-bar dataset="barData" segement-stroke-width="5" autofit="true"></cjs-bar>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
